
@{
    ViewBag.Title = "设置所属行业";
}

<h2>设置所属行业</h2>

@using (Html.BeginForm("set_industry", "Kefu", FormMethod.Post))
{
    <a>选择所属主营行业</a>
    <select name="industry_id1">
        <option value="1">IT科技/互联网/电子商务</option>
        <option value="2">IT科技/IT软件与服务</option>
        <option value="3">IT科技/IT硬件与设备</option>
        <option value="4">IT科技/电子技术</option>
        <option value="5">IT科技/	通信与运营商</option>
        <option value="6">IT科技/网络游戏</option>
        <option value="7">金融业/银行</option>
        <option value="8">金融业/基金|理财|信托</option>
        <option value="9">金融业/保险</option>
        <option value="10">餐饮/餐饮</option>
        <option value="11">酒店旅游/酒店</option>
        <option value="12">酒店旅游/旅游</option>
        <option value="13">运输与仓储/快递</option>
        <option value="14">运输与仓储/物流</option>
        <option value="15">运输与仓储/仓储</option>
        <option value="16">教育/培训</option>
        <option value="17">教育/院校</option>
        <option value="18">政府与公共事业/基金|理财|信托</option>
        <option value="19">政府与公共事业/保险</option>
        <option value="20">政府与公共事业/餐饮</option>
        <option value="21">政府与公共事业/公共事业|非盈利机构</option>
        <option value="22">医药护理/医药医疗</option>
        <option value="23">医药护理/护理美容</option>
        <option value="24">医药护理/保健与卫生</option>
        <option value="25">交通工具/汽车相关</option>
        <option value="26">交通工具/摩托车相关</option>
        <option value="27">交通工具/火车相关</option>
        <option value="28">交通工具/飞机相关</option>
        <option value="29">房地产/建筑</option>
        <option value="30">房地产/物业</option>
        <option value="31">消费品/消费品</option>
        <option value="32">商业服务/法律</option>
        <option value="33">商业服务/会展</option>
        <option value="34">商业服务/中介服务</option>
        <option value="35">商业服务/认证</option>
        <option value="36">商业服务/审计</option>
        <option value="37">文体娱乐/传媒</option>
        <option value="38">文体娱乐/体育</option>
        <option value="39">文体娱乐/娱乐休闲</option>
        <option value="40">印刷/印刷</option>
        <option value="41">其它/其它</option>
    </select>
    <a>选择所属副营行业</a>
    <select name="industry_id2">
        <option value="1">IT科技/互联网/电子商务</option>
        <option value="2">IT科技/IT软件与服务</option>
        <option value="3">IT科技/IT硬件与设备</option>
        <option value="4">IT科技/电子技术</option>
        <option value="5">IT科技/	通信与运营商</option>
        <option value="6">IT科技/网络游戏</option>
        <option value="7">金融业/银行</option>
        <option value="8">金融业/基金|理财|信托</option>
        <option value="9">金融业/保险</option>
        <option value="10">餐饮/餐饮</option>
        <option value="11">酒店旅游/酒店</option>
        <option value="12">酒店旅游/旅游</option>
        <option value="13">运输与仓储/快递</option>
        <option value="14">运输与仓储/物流</option>
        <option value="15">运输与仓储/仓储</option>
        <option value="16">教育/培训</option>
        <option value="17">教育/院校</option>
        <option value="18">政府与公共事业/基金|理财|信托</option>
        <option value="19">政府与公共事业/保险</option>
        <option value="20">政府与公共事业/餐饮</option>
        <option value="21">政府与公共事业/公共事业|非盈利机构</option>
        <option value="22">医药护理/医药医疗</option>
        <option value="23">医药护理/护理美容</option>
        <option value="24">医药护理/保健与卫生</option>
        <option value="25">交通工具/汽车相关</option>
        <option value="26">交通工具/摩托车相关</option>
        <option value="27">交通工具/火车相关</option>
        <option value="28">交通工具/飞机相关</option>
        <option value="29">房地产/建筑</option>
        <option value="30">房地产/物业</option>
        <option value="31">消费品/消费品</option>
        <option value="32">商业服务/法律</option>
        <option value="33">商业服务/会展</option>
        <option value="34">商业服务/中介服务</option>
        <option value="35">商业服务/认证</option>
        <option value="36">商业服务/审计</option>
        <option value="37">文体娱乐/传媒</option>
        <option value="38">文体娱乐/体育</option>
        <option value="39">文体娱乐/娱乐休闲</option>
        <option value="40">印刷/印刷</option>
        <option value="41">其它/其它</option>
    </select>
    <input type="submit" value="提交" />
}

@Html.ActionLink("获取客服账号列表信息", "getkflist", "Kefu")

<h2>添加客服账号</h2>

@using (Html.BeginForm("add_kfaccount", "Kefu", FormMethod.Post))
{
    <a>输入客服账号</a><input type="text" name="kfaccount" />
    <a>输入客服账号</a><input type="text" name="nickname" />


    <a>输入密码</a><input type="password" name="password"/>
    <input type="submit" value="提交" />
}
<h2>修改客服账号</h2>

@using (Html.BeginForm("update_kfaccount", "Kefu", FormMethod.Post))
{
    <a>输入客服账号</a><input type="text" name="kfaccount" />
    <a>输入客服账号</a><input type="text" name="nickname" />


    <a>输入密码</a><input type="password" name="password" />
    <input type="submit" value="提交" />
}

<h2>删除客服账号</h2>

@using (Html.BeginForm("del_kfaccount", "Kefu", FormMethod.Post))
{
    <a>输入客服账号</a><input type="text" name="kfaccount" />
    <input type="submit" value="提交" />
}

<h2>上传客服头像</h2>
@using (Html.BeginForm("Upload_headimg", "Kefu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <a>输入客服账号</a><input type="text" name="kfaccount" />
   <p>选择上传文件：</p><input name="file_headimg" type="file" id="file_thumb" />
    <br />
    <br />
        <input type="submit"  value="上传" />
}
