
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link href="~/Content/weui-master/dist/style/weui.css" rel="stylesheet" />
</head>
<body>
    <a href="#" class="weui_btn weui_btn_primary">weui_btn weui_btn_primary按钮</a>
    <a href="#" class="weui_btn weui_btn_disabled weui_btn_primary">weui_btn weui_btn_disabled weui_btn_primary按钮</a>
    <a href="#" class="weui_btn weui_btn_warn">weui_btn weui_btn_warn确认</a>
    <a href="#" class="weui_btn weui_btn_disabled weui_btn_warn">weui_btn weui_btn_disabled weui_btn_warn按钮</a>
    <a href="#" class="weui_btn weui_btn_default">weui_btn weui_btn_default按钮</a>
    <a href="#" class="weui_btn weui_btn_disabled weui_btn_default">weui_btn weui_btn_disabled weui_btn_default按钮</a>
    <div class="button_sp_area">
        <a href="#" class="weui_btn weui_btn_plain_default">weui_btn weui_btn_plain_default按钮</a>
        <a href="#" class="weui_btn weui_btn_plain_primary">weui_btn weui_btn_plain_primary按钮</a>
        <a href="#" class="weui_btn weui_btn_mini weui_btn_primary">weui_btn weui_btn_mini weui_btn_primary按钮</a>
        <a href="#" class="weui_btn weui_btn_mini weui_btn_default">weui_btn weui_btn_mini weui_btn_default按钮</a>
    </div>
</body>

