
@{
    ViewBag.Title = "Index";
}
<div style="width:100%;border:1px solid red; height:100px;margin-top:100px;">

    @using (Html.BeginForm("Get", "getmedia", FormMethod.Post))
    {
        <a>输入media id:</a><input name="Mediaid" type="text" />
                <input type="submit" value="获取">
    }
</div>

