
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE HTML>
<HTML>
<HEAD>
    <title>设置字体的例子</title>
    <STYLE type="text/css">
        H1 {
            font-family: arial, verdana, sans-serif;
            font-weight: bold;
            font-size: 30px;
        }

        P {
            font-family: 宋体;
            font-weight: normal;
            font-size: 9px;
        }
    </STYLE>
</HEAD>
<BODY>
    <H1>
        HTML5</H1>
        <P>
            2004年，超文本应用技术工作组（Web Hypertext Application Technology Working Group，WHATWG）开始研发HTML5。2007年，万维网联盟（World Wide Web Consortium，W3C）接受了HTML5草案，并成立了专门的工作团队。并于2008年1月发布了第1个HTML5的正式草案。<br>
            尽管HTML5到目前为止还只是草案，离真正的规范还有相当的一段路要走，但HTML5还是引起了业内的广泛兴趣， Google Chrome 、Firefox、Opera、Safari和Internet Explorer 9等主流浏览器都已经支持HTML5技术。
        </P>
</BODY>
</HTML>

