<!DOCTYPE HTML>
<HTML>
<HEAD>
    <link href="~/Content/10_4.css" rel="stylesheet" />
</HEAD>
<BODY>
    <A href="http://www.yourdomain.com">CSS示例</A>
    <P>你注意到这一段文字的颜色和背景颜色了吗?</P> 怎么样?
</BODY>
</HTML>
