
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link href="~/Content/weui-master/dist/style/weui.min.css" rel="stylesheet" />
</head>
<body>
    <article class="weui_article">
        <h1>微信</h1>
        <section>
            微信 (WeChat) 是腾讯公司于2011年1月21日推出的一个为智能终端提供即时通讯服务的免费应用程序  ，由张小龙所带领的腾讯广州研发中心产品团队打造   。微信支持跨通信运营商、跨操作系统平台通过网络快速发送免费（需消耗少量网络流量）语音短信、视频、图片和文字，同时，也可以使用通过共享流媒体内容的资料和基于位置的社交插件“摇一摇”、“漂流瓶”、“朋友圈”、”公众平台“、”语音记事本“等服务插件。
            截止到2016年第二季度，微信已经覆盖中国 94% 以上的智能手机，月活跃用户达到 8.06亿， 用户覆盖 200 多个国家、超过 20 种语言。  此外，各品牌的微信公众账号总数已经超过 800 万个，移动应用对接数量超过 85000 个，广告收入增至36.79亿人民币[3]  ，微信支付用户则达到了 4 亿左右。
        </section>
        <section>
            <h2 class="title">详细信息</h2>
            <section>
                <h3>1.1 发展历程</h3>
                <p>微信由深圳腾讯控股有限公司 (Tencent Holdings Limited)于2010年10月筹划启动，由腾讯广州研发中心产品团队打造 。该团队经理张小龙所带领的团队曾成功开发过Foxmail、QQ邮箱等互联网项目。腾讯公司总裁马化腾在产品策划的邮件中确定了这款产品的名称叫做“微信”。</p>
            </section>
            <section>
                <h3>1.2 版本介绍</h3>
                <p>
                    微信支持多种语言，支持Wi-Fi无线局域网、2G，3G和4G移动数据网络，iOS版，Android版、Windows Phone版、Blackberry版、诺基亚S40版、S60V3和S60V5版。
                    微信的最新版本：5.2.1(Android)、5.2.0.17(iOS）、4.2（Symbian）、5.1.0.0（Windows Phone 8）、1.5（诺基亚S40）、3.0（BlackBerry）、2.0（BlackBerry 10）。
                </p>
            </section>
        </section>
    </article>
</body>

