
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <style type="text/css">
        img {
            float: left
        }
    </style>
</head>

<body>
    <p>
        <img src="~/images/0.jpg" />
        <h1>麒麟</h1>
        麒麟是中国古代汉族神话传说中的传统祥兽，性情温和，传说寿命两余千年。古人认为，麒麟出没处，必有祥瑞。有时用来比喻才能杰出、德才兼备的人。 人都把麒麟与青龙、白虎、朱雀、玄武并称五大祥兽，其实并非麒麟，乃是黄龙。 古人把雄性称麒，雌性称麟。麒麟是古代的仁兽，集龙头、鹿角、狮眼、虎背、熊腰、蛇鳞、马蹄、牛尾于一身，乃吉祥之宝，从古到今都是公堂上的装饰，以振官威之用，也是权贵的象征。 古人认为龙有代表着神灵、天、帝王、交泰等意，所以龙渐渐被皇家所垄断。而凤凰也有贤明、调律、志向等意。因此民间把麒麟、玄武作为自己的吉祥物广泛发展传播。
    </p>
</body>
</html>
