<!DOCTYPE HTML>
<HTML>
<HEAD>
    <style>
        a {
            color: red
        }

        p {
            background-color: blue;
            color: white
        }
    </style>
</HEAD>
<BODY>
    <A href="http://www.yourdomain.com">CSS示例</A>
    <P>你注意到这一段文字的颜色和背景颜色了吗?</P> 怎么样?
</BODY>
</HTML>
