body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    display:block;
    width:1200px;
    height:80px;
    /*border:1px solid #eeeeee;*/
    margin:0 auto 0 auto;
    padding:20px  0 0 20px;
}

a{ color:#2c850d; text-decoration:none;}
a:link{ color:#2c850d; text-decoration:none;}
a:visited{ color:#2c850d; text-decoration:none;}
a:hover{ color:#ff2020; text-decoration:underline;}
a:active{ color:#2c850d; text-decoration:none;}
