body {
}

#scanbox{
    display:block;
    width:1200px;
    height:360px;
    margin:200px auto 0 auto;
    /*border:1px solid red;*/
}
#scanbox_left {
        display:block;
    width:260px;
    height:360px;
    float:left;

    margin:0 0 0 200px;
    /*border:1px solid blue;*/
}
#weixi_text{
        float:left;

    margin:0 0 0 0;
}