
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>第3章 使用ASP.NET空间搭建微信公众平台</h2>
<br/><br /><br /><br /><br /><br />
@Html.ActionLink("获取微信服务器IP地址", "getcallbackip")<br /><br /><br />
@Html.ActionLink("获取access_token", "get_access_token")

