
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link href="~/Content/weui-master/dist/style/weui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="weui_cells_title">带图标、说明、跳转的列表项</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="#">
            <div class="weui_cell_hd" style="float:left;margin-right:15px;">
                <img src="~/images/at_32x32.png" alt="icon" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary" style="float:left;"> <p>cell standard</p> </div>
            <div class="weui_cell_ft"> 说明文字 </div>
        </a>
        <a class="weui_cell" href="#">
            <div class="weui_cell_hd" style="float:left;margin-right:15px;">
                <img src="~/images/at_32x32.png"  alt="icon" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui_cell_bd weui_cell_primary" style="float:left;"> <p>cell standard</p> </div>
            <div class="weui_cell_ft"> 说明文字 </div>
        </a>
    </div>
</body>


