
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link href="~/Content/weui-master/dist/style/weui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="weui_progress" style="margin: 50% auto 50% auto;width: 80%">
        <div class="weui_progress_bar">
            <div class="weui_progress_inner_bar" style="width: 25%;"></div>
        </div>
        <a href="#" class="weui_progress_opr">
            <i class="weui_icon_cancel"></i>
        </a>
    </div>

</body>

