
@{
    ViewBag.Title = "batchupdate";
}

<h2>批量移动用户到指定分组</h2>

@using (Html.BeginForm("batchupdateGroup", "Home", FormMethod.Post))
{
    <a>输入用户openid1</a><input type="text" name="openid1" />
    <a>输入用户openid2</a><input type="text" name="openid2" />
    <a>输入用户组groupid</a><input type="text" name="groupid" />
    <input type="submit" value="提交" />
}



