
@{
    ViewBag.Title = "粉丝用户列表";
}

@model wxBase.Model.Users.wxUsersSummary
@{
    ViewBag.Title = "粉丝用户列表";
}
<br/><br />
<br />
<br />

<h2>粉丝用户列表</h2>
<br />
<br />
<br />
<br />

<div><label>粉丝总数:</label>@Html.DisplayFor(m => m.count)</div>

@foreach (var item in Model.data.openid)
{
    <div>openid: @item</div>
}

