
@{
    ViewBag.Title = "Index";
}

<br /><br />
<br />
<br />

<h2>上传素材</h2>

<br/><br />
<br />
<br />

@using (Html.BeginForm("Upload", "uploadmedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>选择上传文件：</p><input name="file" type="file" id="file" />
    <br />
        <br />
        <input type="submit" name="Upload" value="上传" />
}

