
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link href="~/Content/weui-master/dist/style/weui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="weui_cells_title">WeUI Cell列表视图</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary"> <p>标题文字</p> </div>
            <div class="weui_cell_ft"> 说明文字 </div>
        </div>
    </div>
</body>


