@model wxBase.Model.Industry.wxIndustryInfo
@{
    ViewBag.Title = "get_industry";
}

<h2>get_industry</h2>
 <p> 主营行业 @Model.primary_industry.first_class</p><br/>
<p> 副营行业 @Model.secondary_industry.first_class </p><br/>

