
@{
    ViewBag.Title = "Index";
}

<h2>消息管理</h2>

@Html.ActionLink("群发消息", "sendall")
@Html.ActionLink("按openid群发消息", "SendtextByOpenids")

<h2>获得模板ID</h2>

@using (Html.BeginForm("GetTemplateID", "Message", FormMethod.Post))
{
    <a>消息模板编号</a><input type="text" name="template_id_short" />
    <input type="submit" value="提交" />
}

@Html.ActionLink("获取模板列表", "get_all_private_template")

@Html.ActionLink("发送模板消息", "send_template")

