
@{
    ViewBag.Title = "添加客服帐号";
}
<br /><br /><br /><br /><br />
<h2>添加客服帐号</h2>


@using (Html.BeginForm("add", "kfaccount_add", FormMethod.Post))
{
    <a>输入客服账号</a><input type="text" name="kfaccount" />
    <a>输入客服昵称</a><input type="text" name="nickname" />


    <a>输入密码</a><input type="password" name="password" />
    <input type="submit" value="提交" />
}